<ion-content class="ion-padding" [fullscreen]="true">
  <form [formGroup]="loginForm">
    <ion-list>
      <ion-item>
        <ion-input
          formControlName="email"
          aria-label="Email"
          value=""
          type="Email"
          placeholder="Email"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          formControlName="password"
          aria-label="Email"
          value=""
          type="Password"
          placeholder="Password"
        ></ion-input>
      </ion-item>
    </ion-list>
    <ion-button color="success" fill="outline" (click)="registerSubmit()" expand="block"
      >Crear Cuenta</ion-button
    >
    <ion-button color="warning" fill="clear" (click)="loginSubmit()" expand="block"
      >Iniciar Sesión</ion-button
    >
  </form>
</ion-content>
